@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@600;700&display=swap');

html {
    font-size: 62.5%;
}

:root {

    --primary-color: #2b92e4;
    --second-color: #FF6B00;
    --background-color: #F8F9FA;
    --text-color: #333;
    --white-color: #fff;

    --primary-font: 'Inter', sans-serif;
    --second-font: 'Montserrat', sans-serif;
    --layout-width: 1200px;
    --margin-top-container: 65px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: var(--second-font);
    font-weight: 600;
    margin: 0;
    line-height: 1;
}

.container {
    padding-top: var(--margin-top-container);
    width: var(--layout-width);
    margin: 0 auto;
}

.main {
    padding: 10px 0;
}

:global {
    .card {
        background-color: var(--white-color);
        box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
        border-radius: 8px;
        padding: 10px;
        // margin: 16px 0;
    }

    .d-flex {
        display: flex;
    }

    .flex-space-between {
        justify-content: space-between;
    }
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}